./logs
logs
.git/objects/
05_hvCpGalgorithm/resultsDir/Atlas/correctCpGnamesAtlas.txt.gz
gitignore

## The Atlas results are too big for git
05_hvCpGalgorithm/resultsDir/Atlas

## The tissue result file is big for array
05_hvCpGalgorithm/resultsDir/Arrays/tissue/
