./logs
logs
.git/objects/
gitignore

## The Atlas results are too big for git
B_MultiTissues/resultsDir_gitIgnored/Atlas

## The tissue result file is big for array
B_MultiTissues/resultsDir_gitIgnored/Arrays/tissue

*.RData
.RData
*.Rhistory
